@model IEnumerable<Todoey.Models.todo>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center" style="margin-right:10%;">Observation</h2>
@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table table-bordered table-striped" id="taskTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TaskName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReqiredTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCompleted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TaskName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReqiredTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsCompleted)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id },new{ @class = "btn btn-primary"}) 
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-warning" }) 
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>

<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />

@section scripts{
    
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script>
    function activatejQueryTable() {
        $("#taskTable").DataTable();
    }
    $(function () {
        activatejQueryTable();
    });

    </script>
    }